<?xml version="1.0" encoding="utf-8"?>
<WCFConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Apps>
    <WCFApp>
      <Key>*</Key>
      <Address>net.tcp://10.10.126.123:65489</Address>
      <Binding>NetTcpBinding</Binding>
    </WCFApp>
  </Apps>
</WCFConfig>