<?xml version="1.0" encoding="utf-8"?>
<FileConfiguration NormalDictionary="File" TemporaryDictionary="TempFile">
  <App Name="AdminUserLogo" DictionaryName="@Custom">
    <File>
      <Extensions>jpg,gif,png,bmp</Extensions>
      <Size>1024</Size>
      <Thumbnail FixedSize="true" Quality="70" >
        <WH Mark="s1">29*29</WH>
        <WH Mark="s2">200*200</WH>
      </Thumbnail>
    </File>
  </App>
  <App Name="AdminSystemLogo" DictionaryName="@Custom">
    <File>
      <Extensions>jpg,gif,png,bmp</Extensions>
      <Size>1024</Size>
      <Thumbnail FixedSize="true" Quality="70" >
        <WH Mark="s1">134*23</WH>
      </Thumbnail>
    </File>
  </App>
	<App Name="Example" DictionaryName="">
		<!--Name：App名称，通过此名称查找对应的配置-->
		<!--DictionaryName：为空（使用App的名称作为目录路径）不为空（使用DictionaryName作为目录路径）@Custom（自定义目录路径并作为参数进行传递）-->
		<File>
			<Extensions>jpg,gif,png</Extensions><!--允许上传文件后缀-->
			<Size>1000</Size><!--以KB为单位-->
			<Thumbnail FixedSize="true" Quality="70" >
				<!--FixedSize：true（始终保证缩略图大小为指定大小）false（按比例自动缩放缩略图大小）-->
				<!--Quality：缩略图质量-->
				<WH Mark="s1">100*100</WH><!--Mark：缩略图名称-->
				<WH Mark="s2">300*200</WH>
				<WH Mark="s3">500*800</WH>
        <WH Mark="s4">500*x</WH><!--x表示：根据已知宽或高计算出未知的高或宽-->
			</Thumbnail>
			<WaterMark Size="50*50"><!--Size：当生成的缩略图面积大于Size属性指定的大小才使用水印-->
				<Img></Img><!--相对网站根目录路径，一定要以“/”开始-->
				<Alpha></Alpha><!--值越大越不透明: 1为不透明、0为全透明-->
				<Text></Text>
				<FontFimily></FontFimily>
				<FontSize></FontSize>
				<Argb></Argb>
			</WaterMark>
		</File>
	</App>
</FileConfiguration>
