<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="AdminCenterDomain" value="www.admincenter.com" />
    <add key="SystemCode" value="ADMIN_CENTER" />
    <add key="Key" value="9439b94dcd554c5a83e34abf40a70dab" />
  </appSettings>

  <connectionStrings>
    <add name="AdminCenterDB" connectionString="Data Source=120.76.41.193;Database=admin_center;User ID=root;Password=papago;" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <handlers>
      <add name="WriteTicketHandle" verb="*" path="WriteTicket" type="z.AdminCenter.Logic.WriteTicketHandle, z.AdminCenter.Logic" />
      <add name="cfg.xml" verb="*" path="*.cfg.xml" type="System.Web.HttpNotFoundHandler" />
    </handlers>
    <modules>
      <add name="HttpStatusModule" type="z.AdminCenter.Logic.HttpStatusModule, z.AdminCenter.Logic" />
    </modules>
    <defaultDocument>
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

</configuration>