@using z.AdminCenter.MVC.Driver;

<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        @Html.Raw(ControllerAdminBase.GetLeftNavigation())
        <!-- END SIDEBAR MENU -->
    </div>
</div>